$default-font-color: #000000;


$font_base: 'Lato', sans-serif;

//цвета
$color_body: #fff;
$color_text: #2C2C2C;

$color_gray: #88979E;
$color_gray_dark: #54585A;
$color_gray_light: #EDF1F2;

$color_white: #ffffff;
$color_black: #000;

$color_orange: #ED4F2B;
$color_orange_hover: #F17255;
$color_orange_soft: #FEEEEA;
$color_orange_disabled: #FACBC0;

$color_blue: #0066A9;
$color_blue_hover: #2d5d98;

$color_red: #DA291C;
//
$trsn: 0.2s;